// Copyright © 2017-2018 VMware, Inc. All Rights Reserved.
// SPDX-License-Identifier: BSD-2-Clause

:host {
//  border: 1px solid #ccc;
//  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 12px;
}

span {
  flex: 1;
}

h3 {
  margin-top: 0;
}

pre {
  background-color: rgba(255,255,255,.25);
  padding: 6px;
}
