// Copyright © 2017-2018 VMware, Inc. All Rights Reserved.
// SPDX-License-Identifier: BSD-2-Clause

.brand-image {
  height: 36px;
  margin: 12px 12px 0 0;
  width: 36px;
}

.content-area {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  // padding-top: 0px !important;
}
